.sidebar {
    height: 100%;
    width: 170px;
    position: relative;
    background-color: #5c10c7;
    padding: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #105bcc;
    display: block;
}

.sidebar a:hover {
    color: #028f31;
}

