@font-face {
    font-family: 'toxigenesis bd';
    src: url('./assets/toxigenesis bd.otf') format('opentype');
}

.scrolling-title {
    white-space: nowrap;
    overflow: hidden;
}

body {
    /*background-color: #5c10c7;*/
    color: #105bcc;
    font-family: 'toxigenesis bd';
    cursor: url('./assets/cursor.png'), auto;
}

.sidebarL {
    overflow: visible;
    background-color: #170136;
    color: #5c10c7;
    margin-right: 20px;
    margin-left: -14px;
    margin-top: -6px;
    padding: 15px 15px 15px 10px;
    height: 840px;
    width: 170px;
    left: 0;
    top: 0;
    position: absolute;
    border-color: #27fc6e;
    border-style: outset;
    border-radius: 12px;
    text-align: center;
}

.topbox {
    overflow: visible;
    background-color: #170136;
    color: #5c10c7;
    margin-right: 20px;
    margin-left: 155px;
    margin-top: -13px;
    padding: 10px 10px 30px 10px;
    height: 35px;
    width: 890px;
    border-color: #27fc6e;
    border-style: outset;
    border-radius: 22px;
    text-align: center;
}

.mainbox {
    overflow: visible;
    background-color: #170136;
    color: #5c10c7;
    margin-right: 20px;
    margin-left: 158px;
    margin-top: 25px;
    padding: 30px 30px 30px 30px;
    height: 6000px;
    width: 895px;
    border-color: #5c10c7;
    border-style: outset;
    border-radius: 12px;
    text-align: center;
}

.sidebarR {
    overflow: visible;
    background-color: #170136;
    color: #5c10c7;
    margin-right: 20px;
    margin-left: 1100px;
    margin-top: 1260;
    padding: 10px 10px 20px 10px;
    height: 520px;
    width: 200px;
    left: 0;
    top: 0;
    position: absolute;
    border-color: #27fc6e;
    border-style: outset;
    border-radius: 12px;
    text-align: center;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #105bcc;
    display: block;
}

.sidebar a:hover {
    color: #028f31;
}

.button {
    border: none;
    color: #543186;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #d7baff;
    color: #b078fd;
    border: 2px solid #b078fd;
}

.button1:hover {
    background-color: #b078fd;
    color: #d7baff;
}

.button2 {
    background-color: #d7baff;
    color: #b078fd;
    border: 2px solid #b078fd;
}

.button2:hover {
    background-color: #b078fd;
    color: #d7baff;
}

.button3 {
    background-color: #d7baff;
    color: #b078fd;
    border: 2px solid #b078fd;
}

.button3:hover {
    background-color: #b078fd;
    color: #d7baff;
}

#pubox {
    position: absolute;
    z-index: 9;
    background-color: #e3d0ff;
    text-align: center;
    font-size: 20px;
    border: 7px solid #5c10c7;
    border-style: outset;
    border-radius: 12px;
}

#puboxheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #e3d0ff;
    border-color: #5c10c7;

}

.webbutton {
    width: 88px;
    height: 31px;
}

.webbanner {
    width: 200px;
    height: 27px;
    padding-bottom: 20;
}

.imagethentext {
    display: flex;
    align-items: center;
    justify-content: center;
}

.albums {
    width: 32px;
    height: 32px;
}