body {
    /*background-color: #5c10c7;*/
    color: #105bcc;
    font-family: 'Trebuchet MS'
    /*src: url("/fonts/trench.ttf") format("truetype"); this type technique mechanics for imported font*/
}

.sidebarL {
    overflow: visible;
    background-color: #170136;
    color: #5c10c7;
    margin-right: 20px;
    margin-left: 155px;
    margin-top: 80;
    padding: 15px 15px 15px 10px;
    height: 520px;
    width: 170px;
    left: 0;
    top: 0;
    position: absolute;
    border-color: #27fc6e;
    border-style: outset;
    border-radius: 12px;
    text-align: center;
}

.topbox {
    overflow: visible;
    background-color: #170136;
    color: #5c10c7;
    margin-right: 20px;
    margin-left: 390px;
    padding: 30px 30px 30px 30px;
    height: 30px;
    width: 860px;
    border-color: #27fc6e;
    border-style: outset;
    border-radius: 12px;
    text-align: center;
}

.mainbox {
    overflow: visible;
    background-color: #170136;
    color: #5c10c7;
    margin-right: 20px;
    margin-left: 390px;
    margin-top: 35px;
    padding: 30px 30px 30px 30px;
    height: 520px;
    width: 1050px;
    border-color: #27fc6e;
    border-style: outset;
    border-radius: 12px;
    text-align: center;
}

.sidebarR {
    overflow: visible;
    background-color: #170136;
    color: #5c10c7;
    margin-right: 20px;
    margin-left: 1560px;
    margin-top: 80;
    padding: 15px 15px 15px 10px;
    height: 520px;
    width: 170px;
    left: 0;
    top: 0;
    position: absolute;
    border-color: #27fc6e;
    border-style: outset;
    border-radius: 12px;
    text-align: center;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #105bcc;
    display: block;
}

.sidebar a:hover {
    color: #028f31;
}

