body {
    background-color: #5c10c7;
    color: #105bcc;
    font-family: 'Trebuchet MS'
    /*src: url("/fonts/trench.ttf") format("truetype"); this type technique mechanics for imported font*/
}

.sidebar {
    height: 100%;
    width: 170px;
    position: relative;
    background-color: #170136;
    padding: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #105bcc;
    display: block;
}

.sidebar a:hover {
    color: #028f31;
}

